body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0;
    padding: 30px;
    overflow: hidden;
    height: 100vh; 
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto-Mono", monospace;
    font-size: 5vh;
    margin: none;
}

.button-container{
    display: flex;
}

.btn{
    border: 3px solid white;
    padding: 15px;
    border-radius: 80px;
    color: white;
    background-color: black;
    font-family: "Roboto-Mono", monospace;
    font-size: large;
    
}

.btn:hover{
    cursor: crosshair;
    background-color: blue;
    color: black
}

#circle-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px; 
    height: 50vh; 
    width: 50vw;  
    padding: 0;
}

.circle{
    background-color: none;
    border-radius: 50%;
}

.circle:hover{
    background-color: rgb(255, 68, 0);
}

#number-of-operations{
    color: white;
    border: 3px solid white;
    padding: 15px;
    border-radius: 30px;
    margin: 1px;
}

#operations-text{

    font-family: "Roboto-Mono", monospace;
    color: white;
    margin: none;
}

#about {
  font-family: "Roboto-Mono", monospace;
  color: white;
}
